/* font style */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@400;500&family=Poppins&family=Raleway&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

/* header styles */
.header {
    display: flex;
    margin-left: 3%;
    margin-right: 3%;
    background-color: rgba(0, 0, 0, 0.901);
    color: white;
    padding: 0 15px;
    border-radius: 20px;
}

.title-img {
    margin-top: 10px;
    margin-right: 95px;
    position: relative;
}

.header-title {
    margin-top: 50px;
}

.header-title h1 {
    font-size: 50px;
    font-weight: 700;
}

.button-watch {
    background-color: rgb(157, 60, 60);
    border-radius: 2px;
    padding: 10px;
    font-weight: 700;
    font-size: large;
    transition: width 1s, transform 1s;
}

.button-watch:hover {
    width: 200px;
    transform: translate(50px);
}

/* Main styles */
.p1 {
    padding: 20px 28px 16px 10px;
    font-weight: 700;
    font-size: large;
    margin-top: 10px;
    background-color: rgb(157, 60, 60);
    transition: padding 1s, transform 1s;
}

.p1:hover {
    padding: 0 21px;
    transform: scale(1);
}

.p2 {
    padding: 18px 50px;
    font-weight: 700;
    font-size: large;
    margin-top: 10px;
}

.p3 {
    padding: 18px 66px;
    font-weight: 700;
    font-size: large;
    margin-top: 10px;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.901);
    padding: 20px;
    margin-left: 40px;
    height: 10%;
    border-radius: 10px;
}

/* grid layout styles */
.main-section1 {
    display: flex;
    margin-right: 20px;
    margin-top: 10%;
    margin-left: 25px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 380px);
    grid-row-gap: 75px;
    margin-left: 20px;
}

.match1 {
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 10px;
    width: 290px;
    height: 190px;
    padding: 30px;
    text-align: center;
    transition: width 1s, height 1s, transform 1s;
}

.match1:hover {
    width: 310px;
    height: 210px;
    transform: scale(1.1);
    box-shadow: 4px 4px black;
}

.back {
    text-decoration: none;
    background-color: rgb(157, 60, 60);
    padding: 20px 25px 16px 10px;
    font-weight: 700;
    font-size: large;
    margin-top: 10px;
    margin-left: 5%;
    transition: width 1s, transform 1s;
}

.back:hover {
    width: 150px;
    transform: translate(-50px);
}

/* footer styles */
footer {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.901);
    padding: 8%;
    width: 85%;
    margin-top: 20px;
}

footer h1 {
    font-size: 40px;
    font-weight: 700;
    color: white;
}

footer hr {
    margin: 0 2%;
}

.menu {
    display: flex;
    justify-content: space-evenly;
}

.menu a {
    text-decoration: none;
    color: white;
}

.media-icon {
    margin-top: 15px;
}

.media-icon>a {
    color: white;
    margin: 0 10px;
}

/* media queries */
/* For mobile device */
@media only screen and (max-width:688px) {
    .container {
        width: 100%;
    }

    .header {
        flex-direction: column;
    }

    .header img {
        vertical-align: middle;
    }

    .options {
        background: none;
    }

    .main-section1 {
        flex-direction: column;
    }

    .container {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }

    .menu {
        flex-direction: column;
        align-items: center;
    }

    .menu a {
        padding: 5px;
    }
}

/*for medium or Tab devices */
@media only screen and (min-width:688px) and (max-width:992px) {
    .container {
        width: 100%;
    }

    .header {
        flex-direction: row;
    }

    .options {
        flex-direction: row;
        background: none;
        justify-content: space-evenly;
    }

    .main-section1 {
        flex-direction: column;
    }

    .container {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 5px
    }

    .view-button {
        visibility: visible;
    }

    .footer>.menu a {
        flex-direction: row;
    }
}